[Unit]
Description=SaltsNet STUN Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/saltsnet/bin/stun_service 0.0.0.0 3479
Environment=LD_LIBRARY_PATH=/opt/saltsnet/lib
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
